.box-group {
  
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-right: 45px;
  width:  100%;
  height: 100%;
  gap:    5px;
}

.chat-content {

  width:  100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Chat header */

.chat-box-header {

  display: flex;
  justify-content: end;
  padding: 5px;
  gap: 5px;
  border-radius: 10px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #d4d4d4;
  outline: 1px solid #c7c7c7;
}

.header-start {
  display: flex;
}

.header-button {

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #ecb46b;
  border-bottom: 2px solid #e6aa66;
  border-right:  2px solid #e6aa66;
  outline: 2px solid #c48953 !important;
  color: #fff;
  width: 34px;
  height: 34px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .1s;
}

.header-button:hover {

  background-color: #e6aa66;
  border-bottom: 2px solid #d49c5c;
  border-right:  2px solid #d49c5c;
  outline: 2px solid #c48953 !important;
}

.header-button:active {

  background-color: #e0a063;
  border-bottom: 2px solid #db9860;
  border-right:  2px solid #db9860;
  outline: 2px solid #d68d5d !important;
}

.logout {
  
  background-color: #e75959;
  border-bottom: 2px solid #d44b4b;
  border-right:  2px solid #d44b4b;
  outline: 2px solid #a33131 !important;
}

.logout:hover {

  background-color: #d44b4b;
  border-bottom: 2px solid #c24141;
  border-right:  2px solid #c24141;
  outline: 2px solid #a33131 !important;
}

.logout:active {
  
  background-color: #c03d3d;
  border-bottom: 2px solid #af3333;
  border-right:  2px solid #af3333;
  outline: 2px solid #a32c2c !important;
}

.user-name-tag {

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.user-name-tag p{

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  border-radius: 5px;
  height: 100%;
  background-color: #5ccd89;
  border-bottom: 2px solid #54c07f;
  border-right:  2px solid #54c07f;
  outline: 2px solid #408a6b;
  color: white;
}

.empty-chat-box {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.empty-chat-box img {

  width: 10vh;
}

.chat header {

  justify-content: center;
}

.chat {

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 0;
  border-radius: 10px;
  padding: 5px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #d4d4d4;
  outline: 1px solid #c7c7c7;
}

.chat-group {

  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.chat-window {

  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: none;
  overflow-y: scroll;
  border: 1px solid #cccccc7d;
  border-bottom: 1px solid #cccccc;
  border-top: none;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  scroll-behavior: smooth;
  scrollbar-color: #cccccc transparent;
  scrollbar-width: 5px;
}

::-webkit-scrollbar {

  width: 10px;
}

::-webkit-scrollbar-track {

  background-color: #f3f3f3;
  border-bottom: 1px solid #d4d4d4;
  outline: 1px solid #e9e9e9;
}

::-webkit-scrollbar-thumb {

  background-color: #cccccc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {

  background-color: #bbbbbb; 
}

/* Form */

form {

  display: flex;
  margin-top: 5px;
}

.input-group {

  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 5px;
}

.text-bar {

  display: flex;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  outline: none;
  border: 2px solid #c7c7c7;
  border-bottom: 2px solid #cccccc;
  background-color: #f8f8f8;
  border-radius: 5px 0 0 5px;
}

.text-bar {
  border-radius: 5px 0 0 5px !important;
}

.send-button {

  display: flex;
  justify-content: center;
  align-items: center;
  width:  40px;
  height: 40px;
  border: none;
  border-radius: 0 5px 5px 0;
  color: white;
  background-color: #5ccd89;
  border: 2px solid #408a6b !important;
  border-bottom: 2px solid #54c07f;
  border-right:  2px solid #54c07f;
  transition: all .2s;
}

.send-button i { 
  
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(50deg);
  transition: all .2s;
}

.send-button:hover {

  color: white;
  background-color: #54c07f;
  border: 2px solid #3a8062 !important;
  border-bottom: 2px solid #4bb475;
  border-right:  2px solid #4bb475;
}

.send-button:active {

  color: white;
  background-color: #469272;
  border: 2px solid #3a8062 !important;
  border-bottom: 2px solid #3d8366;
  border-right:  2px solid #3d8366;
}

#write-message {

	display: none;
	position: absolute;
	bottom: 46px;
	left: 20px;
}

#emojiModal {

  display: none;
  position: absolute;
  bottom: 5vh;
  right: 10%;
  border: 1px solid grey;
  width: 30vw;
  height: 20vw;
  overflow-y: auto;
}

.emoji-button {

  display: flex;
  justify-content: center;
  align-items: center;
  width:  40px;
  height: 40px;
  border: none;
  color: white;
  background-color: #ecb46b;
  border: 2px solid #c48953 !important;
  border-bottom: 2px solid #e6aa66;
  border-right:  2px solid #e6aa66;
  transition: all .2s;
}

.emoji-button:hover {

  background-color: #e6aa66;
  border-bottom: 2px solid #d49c5c;
  border-right:  2px solid #d49c5c;
  border: 2px solid #c48953 !important;
}

.emoji-button:active {

  background-color: #e0a063;
  border-bottom: 2px solid #db9860;
  border-right:  2px solid #db9860;
  border: 2px solid #d68d5d !important;
}

.scroll-down-area {

  position: absolute;
  right:  8px;
  bottom: 75px;
}

.scroll-button {

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border:  none;
  width:   20px;
  height:  20px;
  padding: 15px;
  border-radius: 100%;
  background-color: #ecb46b;
  border-bottom: 2px solid #e6aa66;
  border-right:  2px solid #e6aa66;
  outline: 2px solid #c48953 !important;
  transition: all .2s;
}

.scroll-button:hover i{
  animation: bounce 1s infinite; /* Adiciona a animação de bounce */
}

.scroll-button:active {
  background-color: #e6aa66;
  border-bottom: 2px solid #e0a063;
  border-right:  2px solid #e0a063;
  outline: 2px solid #db9860 !important;
}

@keyframes bounce {

  0% {
    transform: translateY(0)
  }
  10% {
    transform: translateY(5px);
  }
  90% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {

  .box-group {
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
  }

  .online-list {

    display: flex;
    position: absolute;
    left: 10px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
    padding: 5px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #d4d4d4;
    outline: 1px solid #e9e9e9;
  }

  .scroll-down {
    display: none;
  }

  .users-list {
    display: none;
  }

  .chat-content {
    display: flex;
    width: 100vw;
    max-height: none;
    min-height: none; 
  }

  .chat-window {
    height:     100%;
    min-height: 0;
  }

  .chat {
    display: flex;
    height: 100%;
    min-height: 0; 
  }
}

body.dark {
  background-color: #030303 !important;
}

body.dark .chat-box-header {

  display: flex;
  justify-content: end;
  padding: 5px;
  gap: 5px;
  border-radius: 10px;
  background-color: #1a1a1a;
  border-bottom: 1px solid #141414;
  outline: 1px solid #0c0c0c;
}

body.dark .online-list {

  background-color: #141414;
  border-bottom: 1px solid #0e0e0e !important;
  outline: 1px solid #0f0f0f;
}

body.dark .users-list {

  border: 1px solid #0c0c0c;
  border-bottom: 1px solid #141414;
  background-color: #1a1a1a !important;
}

body.dark  .chat {


  background-color: #141414;
  border-bottom: 1px solid #0e0e0e !important;
  outline: 1px solid #0f0f0f;
}

body.dark .chat-box-header {

  background-color: #141414;
  border-bottom: 1px solid #0e0e0e !important;
  outline: 1px solid #0f0f0f;
}

body.dark .chat {

  background-color: #141414;
  border-bottom: 1px solid #0e0e0e !important;
  outline: 1px solid #0f0f0f;
}

body.dark .chat-window {

  border: 1px solid #0c0c0c;
  border: none;
  border-bottom: 1px solid #272727;
  background-color: #1d1d1d;
  scrollbar-color: #272727 transparent;
}

body.dark .text-bar {

  color: white;
  border: 2px solid #272727;
  border-bottom: 2px solid #272727;
  background-color: #1d1d1d;
}