.online-circle {

    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation: blink 1s infinite;

    background-color: var(--l-green-c1);
}
  
@keyframes blink {

    0%,
    100% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }
}

.online-count {

    font-size: 10px;
}
  
.online-list {

    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 5px;

    background-color: var(--l-bg-c1);
    outline:       1px solid var(--l-bg-c3);
    border-bottom: 2px solid var(--l-bg-c2) !important;
}

.users-list::-webkit-scrollbar { display: none; }

.users-list {

    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 100%;
    width: 100px;
    word-break: break-all;
    border-top: none;
    padding: 5px;
    border-radius: 5px;

    background-color: var(--l-bg-c2) !important;
    border-bottom: 2px solid var(--l-bg-c3);
    outline:       1px solid var(--l-bg-c4);

    /* Scrollbar */

    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scrollbar-width: 5px;
    overflow-y: scroll;

    scrollbar-color: var(--l-green-c1) transparent;
}

.online-user {

    margin: none !important;

    background-color: var(--l-blue-c1);
    border-bottom: 2px solid var(--l-blue-c2);
    outline:       2px solid var(--l-blue-c3) !important;
}

.own-online-user {
    
    margin: none !important;

    background-color: var(--l-green-c1);
    border-bottom: 2px solid var(--l-green-c2);
    outline:       2px solid var(--l-green-c3) !important;
}

.online-user, .own-online-user {
    
    display: flex;

    color: white;

    display: flex;
    justify-content: space-between;
    border-radius: var(--radius);
    width: 100%;
}

.online-user span, .own-online-user span { 
    margin-left: 2px !important;
}

.online-user button, .own-online-user button { border: none; }
.own-online-user button { display: none; }

/* Dark */

body.dark .online-circle {

    background-color: var(--d-green-c1);
}
  
body.dark .online-list {

    background-color: var(--d-bg-c1);
    outline:       1px solid var(--d-bg-c3);
    border-bottom: 2px solid var(--d-bg-c2) !important;
}

body.dark .users-list {

    background-color: var(--d-bg-c2) !important;
    border-bottom: 2px solid var(--d-bg-c3);
    outline:       1px solid var(--d-bg-c4);

    /* Scrollbar */

    scrollbar-color: var(--d-green-c1) transparent;
}

body.dark .online-user {

    background-color: var(--d-blue-c1);
    border-bottom: 2px solid var(--d-blue-c2);
    outline:       2px solid var(--d-blue-c3) !important;
}

body.dark .own-online-user {
    
    background-color: var(--d-green-c1);
    border-bottom: 2px solid var(--d-green-c2);
    outline:       2px solid var(--d-green-c3) !important;
}

body.dark .online-user, .own-online-user {
    color: white;
}