.online-circle {

    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
    animation: blink 1s infinite;
}
  
@keyframes blink {

    0%,
    100% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }
}

.online-count {

    font-size: 10px;
}
  
.online-list {

    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 5px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #d4d4d4 !important;
    outline: 1px solid #c7c7c7;
}

.users-list::-webkit-scrollbar {
    display: none;
}

.users-list {

    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 100%;
    width: 100px;
    word-break: break-all;
    border: 1px solid #cccccc7d;
    border-bottom: 1px solid #cccccc;
    border-top: none;
    background-color: #f8f8f8 !important;
    padding: 5px;
    border-radius: 5px;

    /* Scrollbar */

    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scrollbar-color: #57ba7e transparent;
    scrollbar-width: 5px;
    overflow-y: scroll;
}

.online-user {


    background-color: #5c9acd;
    border-bottom: 2px solid #548ebd;
    border-right:  2px solid #548ebd;
    outline: 2px solid #405e8a;
}

.own-online-user {
    
    background-color: #5ccd89;
    border-bottom: 2px solid #54c07f;
    border-right:  2px solid #54c07f;
    outline: 2px solid #408a6b;
}

.online-user, .own-online-user {

    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
}

.online-user p, .own-online-user p {
    margin: 0px 0px 0px 8px;
}

.own-online-user button {
    display: none;
}

.online-user button, .own-online-user button {
    margin: 0px 0px 0px 8px;
    border: none !important;
}

body.dark .online-list {

    background-color: #141414;
    border-bottom: 1px solid #0e0e0e !important;
    outline: 1px solid #0f0f0f;
}

body.dark .users-list {

    border: 1px solid #0c0c0c;
    border-bottom: 1px solid #141414;
    background-color: #1a1a1a !important;
}