:root {
    margin: 0px;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.chat {
    width: 60%;
    background-color: #fff;
    border-radius: 10px;
    padding: 0px 20px 20px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chat-window {

    height: 500px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    scroll-behavior: smooth;
}

.message {
    margin: 8px;
}

.message .own-message {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.message .other-message {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.connect-message .content {
    font-size: 8px;
    font-style: italic;
    padding: 2px;
    background-color: #45a08fb3;
    border: 1px solid #55cfa7;
    border-radius: 5px;
    color: #fff;
    max-width: 300px;
}

.disconnect-message .content {
    font-size: 8px;
    font-style: italic;
    padding: 2px;
    background-color: #a04545b3;
    border: 1px solid #cf5555;
    border-radius: 5px;
    color: #fff;
    max-width: 300px;
}

.own-message .content {
    padding: 8px;
    background-color: #069e2d;
    border-radius: 5px;
    color: #fff;
    max-width: 300px;
}

.other-message .content {
    padding: 8px;
    background-color: #43c59e;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.content .header-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.content span {
    font-weight: bold;
    margin-right: 10px;
}

.content p {
    font-size: 14px;
    margin: 0px;
}

form {
    display: flex;
    width: 100%;
    margin-top: 5px;
    gap: 5px;
}

.text-bar {

    width: 100%;
    border-radius: 5px;
}

.connect-message,
.disconnect-message {

    display: flex;
    justify-content: center;
    margin: 2px;
}

.connect-message b,
.disconnect-message b {

    border-radius: 5px;
    padding: 2px;
    font-size: 10px;
    font-style: italic;
}

.connect-message b {

    background-color: rgba(0, 0, 0, 0.127);
}

.disconnect-message b {

    background-color: rgba(193, 23, 23, 0.341);
}

.online-circle {
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }
}
