body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.chat {

    width: 80%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chat-window {

    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

form {

    display: flex;
    width: 100%;
    margin-top: 5px;
    gap: 5px;
}

.text-bar {

    width: 100%;
    border-radius: 5px;
}

.connect-message, .disconnect-message {

    display: flex;
    justify-content: center;
    margin: 2px;
}

.connect-message b, .disconnect-message b {

    border-radius: 5px;
    padding: 2px;
    font-size: 10px;
    font-style: italic;
}

.connect-message b {

    background-color: rgba(0, 0, 0, 0.127);
}

.disconnect-message b {

    background-color: rgba(193, 23, 23, 0.341);
}
