body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section a { /* Go to chat button */

    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.341);
}